/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    margin: 0px;
    font-family: "Inter", sans-serif;
}
header{
    background: #111111;
}
/* nav */
nav h1{
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 36px;
}
nav h1 a{
    text-decoration: none;
    color: #E6533C;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 0;
   
}
.list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    width: 60%;
    display: flex;
    column-gap: 12px;
    justify-content: flex-end;
    align-items:center ;
    padding: 4px;
    border: 1px solid #ffffff1a;
    border-radius: 30px;
}


nav ul li{
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 20px;
    margin: 0px 4px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.active{
    background: #E6533C;
    border: none;
    border-radius: 30px;
}

.container{
    width: 80%;
    margin: auto;
}
/* hero section */
/* .hero-section{
    height: 100vh;
} */
.bg-hero{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80vh;
    
}
.hero-content{
    padding-left: 20px;
    margin: auto 0px;
}
.hero h1{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    margin:0px;
    padding: 16px 0px;
}
.hero-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin: 0px;
    padding: 20px 0px;
    width: 80%;
    font-weight: 400;
    line-height: 28px;
}
.hero-content div{
    margin: 0px;
    padding: 30px 0px 0px 0px ;
}
.btn-red{
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    background: #E6533C;
    border: 1px solid #E6533C;
    border-radius: 30px;
    padding: 16px 32px;
    margin: 0px 4px;
}
.btn-white{
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 16px 32px;
    margin: 0px 4px;
}
.hero-img{
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}
.hero-card{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    padding: 24px;
    width: 30%;
    position: absolute;
    top: auto;
    bottom: 15%;
    
}
.hero-card-2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    padding: 24px;
    width: 25%;
    position: absolute;
    top: 25%;
    bottom: auto;
    left: auto;
    right: 10%;
    
}
.red-circle{
    height: 35px;
    width: 35px;
    background: #E6533C;
    border: 1px solid #E6533C;
    border-radius: 100%;
}
.hero-card h5{
    color: white;
    font-size: 24px;
    padding-bottom: 4px;
}
.hero-card-2 h5{
    color: white;
    font-size: 40px;
    padding-bottom: 4px;
}
.hero-card p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 500;
}
.hero-card-2 p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    font-weight: 400;
}
/* habit section */
.habit{
    padding: 60px 0;
}

.habit-heading h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding: 12px 0;
}
.habit-heading p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 64px 0;
}
.habit-card img{
    border: 1px solid white;
    border-radius: 100%;
    margin-bottom: 12px;
}
.habit-card h6{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 0;
}
.habit-card p{
    color: rgba(239, 237, 232, 0.65);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.habit-card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
